<div class="question-box">

  <div class="question-number"> <%= existingquestion.title %> </div>

  <p class="question-title" ><%= existingquestion.content %></p>

  <% Answer.where(question_id: existingquestion.id).each do |a| %>
    <div> • <%= a.content %></div>
  <% end %>
</div>
