<div class="footer main-card">
  <div class="footer-btn"><i class="fas fa-chevron-left"></i></div>
  <div class="footer-btn"><i class="fas fa-plus"></i></div>
  <div class="footer-btn"><i class="fas fa-chevron-right"></i></div>

</div>
