<div class="refresh-button">
  <button onClick="window.location.reload();"><i class="fas fa-redo", style="color:lightgray"></i></button>
</div>

<div class="head">
<div> Ongoing vote!</div>
<div>Waiting for voters' input...</div>
</div>

<div class="d-flex justify-content-center gif">
  <%= image_tag "pending" %>
</div>
