<h2><%= pollquestion.title %></h2>
<% answers = [] %>

<div>
  <canvas id="my-chart" data-answers=<%= answers %>></canvas>
</div>
<% Answer.where(question_id: pollquestion.id).each do |answer| %>
  <h4><%= answer.content %></h4>
  <% votes = Opinion.where(answer_id: answer.id).count %>
  <% answers_set << votes %>
  <% total = Opinion.where(question_id: pollquestion.id).count %>
  <h6>test sentence</h6>
<% end %>
