<div class="stepper">

  <%= sanitize "
    <div class='step completed'>
      <div class='step-label'></div>
    </div>" *  (poll.get_step_number - 1)
  %>

  <div class='step active'>
    <div class='step-label'></div>
  </div>

  <%= sanitize "
    <div class='step'>
      <div class='step-label'></div>
    </div>" * (4 - poll.get_step_number )
  %>

</div>


<!-- PENDING QUESTIONS_DONE SENT ONGOING -->
