
  <div class="d-flex flex-column align-items-center" >
    <%= image_tag "logo.png", alt: "Logo FastDem", width: 250, style: "margin-top: 15px"%>
  </div>

  <h3 class="row justify-content-md-center headline insetshadow mt-3">Online Vote made simple.</h3>


  <div class="card-home-page">
    <div style="margin-bottom: 25px; font-size: 20px"> FastDemocracy is a vote tool designed to save you some time and allow you to keep private data really private, as it should always be (wink wink Mark Z. 😘 )</div>


    <div style="font-size: 20px">Please keep in mind the results of your vote will be deleted 24h after it is completed. 😎</div>
  </div>


  <div class="d-flex flex-column align-items-center" style="margin-bottom:150px">
    <%= link_to "Start", polls_path, method: :post, class: "btn btn-primary btn-lg", style: "border-radius: 7px" %>
  </div>
