
<div class='container'>
<h2>Create a contact</h2>
<%= render "form", contact: @contact %>
<% @contacts.each do |contact|  %>
  <%= contact.first_name %>
<% end %>
<h2>Create list</h2>
<%= render "contact_lists/form", contact_list: @contact_list %>
<h2>Liste de mes contacts</h2>
</div>
