<div class="d-flex flex-column align-items-center">
  <div class="createtitle">Add a contact:</div>
  <%= render "form", contact: @contact %>

  <div class="createtitle">Create contact list:</div>
  <%= render "contact_lists/form", contact_list: @contact_list %>



  <div class="createtitle">My contacts</div>

</div>
  <% @contacts.each do |contact|  %>
  <div >
    <div class="contactcard"> <input type="checkbox"> <%= contact.first_name %></div>
  </div>
  <% end %>
</div>
