<div class="d-flex flex-column align-items-center">
  <div class="createtitle">Create a contact</div>
  <%= render "form", contact: @contact %>

  <div class="createtitle">Create list</div>
  <%= render "contact_lists/form", contact_list: @contact_list %>



  <div class="createtitle">My contacts</div>

</div>
  <% @contacts.each do |contact|  %>
  <div class ="contactlist">
    <div class="contactcard"> <%= contact.first_name %></div>
  </div>
  <% end %>
</div>
