
<%# poll starts with status PENDING and should display a new question form + existing questions %>
<% if @poll.status == "PENDING" %>
  <div class="d-flex flex-column align-items-center">
    <div>
      <%= render partial: "shared/existingquestion", collection: @existingquestions %>
    </div>
    <div class="container-new-questions">
      <%= render partial: "shared/newquestion", locals: {question: @question} %>
    </div>
  </div>
<% elsif @poll.status == "QUESTIONS_DONE"  %>
  <div style="color:white; font-size: 30px">Now that the poll is complete, you can add your contacts. </div>
  <%# above text to remove, ofc %>
  <%= render partial: "shared/newvoters", locals: {voters: @voters} %>
<% elsif @poll.status == "SENT" %>
  <%= render partial: "shared/votestatus_test", locals: {opinions: @opinions} %>
<% elsif @poll.status == "ONGOING" %>
  <h1>This is an ongoing vote</h1>
<% elsif @poll.status == "OVER" %>
  <h1>This vote is now over. Here are the results : </h1>
<% end %>
