<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your opinion matters for us.</title>
</head>
<body>
  <h1>This email was sent to you because XXXX values your opinion. </h1>

  <p>Please follow this link and answer the questions. </p>

</body>
</html>
