.question-box {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 20px;
  justify-content: center;
  box-shadow: 1px 3px 10px black;
  color: black;
  background-color: #f0efeb;
  text-align: center;
  opacity:68%;
  font-family:'Josefin Sans';
}

.question-number{
  text-align: center;
  font-weight: bold;
  background-color:#f0efeb ;
  color:black;
  font-size: 18px;
}

.question-title{
  text-align: center;
}

.poll-presentation {
  border-width:3px;
  border-style:solid;
  border-color:#767e7f;
  border-radius:19px;
  -moz-border-radius:19px;
  -webkit-border-radius:19px;
  -webkit-box-shadow:17px 26px 59px 6px #6f5d5d ;
  -moz-box-shadow:17px 26px 59px 6px #6f5d5d ;
  box-shadow:17px 26px 59px 6px #6f5d5d ;
  background-color:#353437;
}
