.card {
  width: 150px;
}

.poll-presentation {
  border-width:3px;
  border-style:solid;
  border-color:#767e7f;
  border-radius:19px;
  -moz-border-radius:19px;
  -webkit-border-radius:19px;
  -webkit-box-shadow:17px 26px 59px 6px #6f5d5d ;
  -moz-box-shadow:17px 26px 59px 6px #6f5d5d ;
  box-shadow:17px 26px 59px 6px #6f5d5d ;
  background-color:#353437;
}
