.createcontact{
  display:flex;
  justify-content: center;

  opacity: 92%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.createlist{
  border-radius: 3px;
  display:flex;
  justify-content: center;

  opacity: 92%;
  margin-bottom: 60px;
  margin-top: 20px;
  padding-top: 16px;
}

.createtitle{

  font-size:27px;
  margin-top: 15px;
  letter-spacing: -2px;
  font-weight: bold;
  color: lightgrey;
  font-size:30px;

}

.contactcard{

  font-size: 17px;
  font-weight: bolder;
}
