
// .container-questions {

// .container-navbar {
//   grid-column-start: first;
//   grid-column-end: last;
//   grid-row-start: first-row;
//   grid-row-end: row2;


.container-new-questions {
  justify-content: center;
  margin-top:30px;
}

.container-general {
  border-radius: 10px;
  background: #302624;
  border: 2px;
  border-style: solid;
}
