#pardot-form {
	font-family:'Montserrat', sans-serif;
}
#pardot-form .form-field {
 	margin:0;
 	padding:6px 0 0 0;
}
 /* The input fields */
 #pardot-form input.text,
 #pardot-form textarea.standard,
 #pardot-form select,
 #pardot-form input.date {
	background-color:transparent;
	border:solid 1px #eeeeee;
	font-size:15px;
	color:#f3f6f4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:10px;
	padding-right:10px;
	width:100%;
	font-family:'Montserrat', sans-serif;
	box-sizing:border-box;
}
/* the input fields on focus */
 #pardot-form input.text:focus,
 #pardot-form textarea.standard:focus,
 #pardot-form select:focus,
 #pardot-form input.date:focus {
	border-color:#6fa8dc;
	outline: none;
}
#pardot-form span.value {
	margin-left: 0;
}
/* the field labels */
 #pardot-form label {
	font-size:15px;
	color:#3d85c6;
	font-weight:bold;
	padding-top:6px;
	padding-bottom:5px;
	float:none;
	text-align:left;
	width:auto;
	display:block;
}
/* the submit button */
 #pardot-form .submit input {
	margin:0;
	background-color:transparent;
	border:solid 2px #999999;
	font-size:16px;
	color:#bcbcbc;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:30px;
	padding-left:30px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
/* the submit button hover */
 #pardot-form .submit input:hover {
	background-color:#1988a1;
	border-color:#1988a1;
	color:white;
}
/* the spacing around the submit button */
 #pardot-form .submit {
	margin:0;
	padding-top:10px;
	padding-bottom:0px;
	text-align:center;
}
/* hide the regular checkbox */
.pd-checkbox input {
    opacity: 0;
    position: absolute;
}
/* position the label */
.pd-checkbox input, .pd-checkbox label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.pd-checkbox label {
    position: relative;
}
/* style the unchecked checkbox */
.pd-checkbox input+label:before {
    content: '';
    background:white;
    border: 1px solid#c7c7c7 ;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* style the checked checkbox */
.pd-checkbox input:checked+label:before {
    content: "\2713";
    background:transparent;
    color:#6aa84f;
    border-color:#6aa84f;
}
form.form p.no-label {
    margin-left: 0 !important;
}

/* hide the regular radio button */
.pd-radio input {
    opacity: 0;
    position: absolute;
}
/* position the label */
.pd-radio input, .pd-radio label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.pd-radio label {
    position: relative;
}
/* style the unchecked radio button */
.pd-radio input + label:before {
    content: '';
    background:white;
    border: 1px solid#c7c7c7;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pd-radio input + label:before {
    border-radius: 50%;
}
/* style the selected radio button */
.pd-radio input:checked + label:before {
    content: "\25CF";
    background:transparent;
    color:#6aa84f;
    border-color:#6aa84f;
}
.text {
  color: #fff;
}
