body{
  background-color: #5f50df;

}
.card-home-page{
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction:column;
  padding: 10px;
  color:#f8edeb;
  text-align: center;
  margin-bottom: 250px;
}

.custom-button{

  align-self: flex-end;

  // border-radius: 50px;
  // font-family: 'Josefin Sans',sans-serif;
  // background-color: white;
  // font-size: 20px;
  // font-weight: bolder;
  // color: #1d2d44;
}
