// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "home";
@import "logo";
@import "footer";
@import "containers";
@import "navbar";
@import "cards";
@import "forms";
@import "newquestioncard";
@import "voterscomponent";
@import "contactscomponents";
@import "ongoingvote";

@import "buttonaddanswer";
@import "buttonaddavoter";

@import "votecompleted";

@import url('http://fonts.cdnfonts.com/css/league-spartan');

@import "results";

