.logo{
  margin-top: 60px;
  margin-bottom:60px;
  display: inline-grid;
  justify-content: center;
}

.headline{
  justify-content: center;
  margin-bottom: 60px;
  text-align: center;
  font-size: 50px;
  font-family:'Josefin Sans',sans-serif;
  font-weight: bolder;
  letter-spacing: -4px;
}

.insetshadow {
  color: #e9ecef;
  text-shadow:
    -1px -1px 1px #111,
    2px 2px 1px #363636;
}
