.questioncard{
  height: 750px;
  width: 300px;
  box-shadow: 1px 7px 11px #1d2d44 ;
  background-color: #f0efeb;
  border-radius: 4px;
  display:flex;
  justify-content: center;
  font-family:'Josefin Sans';
  opacity: 92%;
}
