
.votercard{
  height: 80vh;
  width: 300px;
  display:flex;
  justify-content: center;


.page-title{
  text-align: center;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 27px;
  letter-spacing: -3px;
  margin-top: 20px;
  color: lightgrey;


// .page-title{
//   text-align: center;
//   font-family: 'Josefin Sans',sans-serif;
//   font-size: 50px;
//   letter-spacing: -5px;
//   margin-top: 20px;
//   color: lightgrey;
//   text-shadow: 4px 5px 9px #1d2d44;
// }
