.voterscard{
  height: 610px;
  width: 300px;
  box-shadow: 1px 7px 11px #1d2d44 ;
  background-color: #f0efeb;
  border-radius: 4px;
  display:flex;
  justify-content: center;
  font-family:'Josefin Sans';
  opacity: 92%;
  margin-bottom: 60px;
}

.page-title{
  text-align: center;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 50px;
  letter-spacing: -5px;
  margin-top: 20px;
  color: lightgrey;
  text-shadow: 4px 5px 9px #1d2d44;
}
