.voterscard{
  display:flex;
  justify-content: center;
  font-family:'Josefin Sans';
  opacity: 92%;
  margin-bottom: 60px;
}

.page-title{
  text-align: center;
  font-family: 'Josefin Sans',sans-serif;
  font-size: 27px;
  letter-spacing: -3px;
  margin-top: 20px;
  color: lightgrey;
}
